
#graph {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 600px;
}

#info {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  left: calc(800px + 1em);
  width: calc(100% - 800px - 1em);
}
